on: [push, pull_request]

name: Test and Build

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust-toolchain: [stable]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache build artifacts
        id: cache-cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: test-${{ runner.os }}-cargo-${{ matrix.rust-toolchain }}

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust-toolchain }}
          components: rustfmt
          override: true

      - name: Install cross-compilation tools (if needed)
        run: which cross >/dev/null || cargo install cross

      - name: Verify versions
        run: rustc --version && rustup --version && cargo --version

      - name: Build ARM64 binary
        run: cross build --target "aarch64-unknown-linux-musl" --release

      - name: Build AMD64 binary
        run: cross build --target "x86_64-unknown-linux-musl" --release
